LOCALHOST_WEB=localhost:4200
PUBLIC_WEB=ecommerce.myngz.com
STRIPE_KEY_SECRET=sk_test_51HzuVwBO8pnxalq9hznhCzHXu0xdfgdwKKef1UjacxmqhDm0UNIcL7kghjlb6rHaBKh7QWEhjkheZJ4p9FCVBGUtiKXuw8iZi3zTYFdVw00T8guo5bk
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
SPRING_DATASOURCE_HOST=localhost:3306
SPRING_DATASOURCE_DATABASE=full-stack-ecommerce