<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li *ngFor="let productCategory of productCategories">
        <a
          routerLink="/category/{{ productCategory.id }}"
          routerLinkActive="active-link"
          >{{ productCategory.categoryName }}</a
        >
      </li>
      <!-- <li>
        <a routerLink="/category/2" routerLinkActive="active-link"
          >Coffee Mugs</a
        >
      </li>
      <li>
        <a routerLink="/category/3" routerLinkActive="active-link"
          >Mouse Pads</a
        >
      </li>
      <li>
        <a routerLink="/category/4" routerLinkActive="active-link"
          >Luggage Tags</a
        >
      </li> -->
    </ul>
  </nav>
</div>
